body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    color:black;
    margin: 0;
    padding: 20px;
}
h1{
    color:darkblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    color:rgb(11, 54, 184);
}